@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&family=Quicksand:wght@300..700&display=swap');
/*-- Root Font Size--*/

/* Set to make rem values more clear (1.6rem = 16px) */
html {
font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  -webkit-hyphens : auto;
  hyphens: auto;
  text-wrap: pretty;
}

#root, #__next {
  height: 100%;
  isolation: isolate;
}

:root {
  /* Colors */
  --primary-color: #201E43;
  --secondary-color: #134B70;
  --tertiary-color: #508C9B;
  --light-color: #EEEEEE;
  --dark-color: #050505;
  --transparent-bg-dark: #000000d5;
  --transparent-bg-light: #eeeeeed5;
  
  /* Fonts */
  --headline-text: 'Quicksand';
  --paragraph-text: 'Prompt';
}

body {
  background-color: var(--dark-color);
  background: url(../images/hourglass-freepik.webp) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 75%;
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--paragraph-text);
  color: var(--light-color);
  margin-bottom: 2.4rem;
  min-height: 100dvh;
}

main {
  flex: 1;
}

h1 {
    font-family: var(--headline-text);
    font-size: 1.8rem;
    background: var(--transparent-bg-dark);
    padding: 0.4rem;
    margin-bottom: 1.6rem;
    text-shadow: 1px 1px #0fbef7e0;
}

#instructionButton,
.calculate,
.recalculate {
  background: linear-gradient(90deg, #134B70 0%, #1b68af 50%, #134B70 100%);
  margin: 0.5rem auto;
  padding: 2px;
  font-size: 1em;
  color: var(--light-color);
  border: solid 1px var(--light-color);
  border-radius: 8px;
  cursor: pointer;
}

#instructionButton:hover,
.calculate:hover,
.recalculate:hover {
  background: var(--dark-color);
  color: var(--light-color);
  font-size: 1em;
  box-shadow: 0 0 30px 3px var(--light-color);
  transition: ease-in-out 0.3s;
}

#instructionButton {
  margin-bottom: 1.6rem;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--dark-color);
  font-size: 1.6rem;
  color: var(--light-text);
  margin: 10% auto; 
  padding: 1.6rem;
  border: 1px solid var(--light-color);
  width: 80%; 
  max-height: 80%;
  overflow: auto;
}

/* The Modal Close Button */
.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  color: #b6b6b6;
  font-size: 4.8rem;
  font-weight:lighter;
  line-height: 1.8rem;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--light-color);
  border-color: var(--light-color);
  text-decoration: none;
}

.modal h2 {
  font-size: 2rem;
  border: transparent;
  text-decoration: underline;
  margin-bottom: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  border-top: solid 2px #baefffb5;
  border-bottom: 2px solid #baefffb5;
}

.interaction {
  align-items: center;
  background: #050f14d1;
  margin: auto;
}

fieldset {
  border: none;
}

legend {
  width: 100%;
  margin: 0.5rem auto;
  font-size: calc(1.275rem + .3vw);
  line-height: inherit;
  background: #000000d1;
  padding: 0.5rem;
}

/* Base style for radio buttons and their labels */
input[type="radio"] {
  display: none; /* Hide the default radio button appearance */
}

/* Style for the selected radio button container */
input[type="radio"]:checked + label {
  border: 4px solid #00624ff4;
  box-shadow: 0px 0px 10px 2px hsl(190.46deg 63.95% 26.73%);
}

label {
  display: block;
  background: var(--transparent-bg-dark);
  color: var(--light-color);
  border: solid 1px #9191918c;
  border-radius: 24px;
  padding: 11px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: 16px auto;
}

.label-heading {
    display: block;
    font-family: var(--headline-text);
    margin: 1.6rem;
    font-size: 2.4rem;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 1px 1px #0fbef7e0;
}

.label-description {
  display: block;
  font-family: var(--paragraph-text);
  margin: 0;
  font-size: 1.6rem;
}

/* Style for the checkmark circle */
label::after {
  content: '';
  position: relative;
  left: -2rem;
  bottom: -2rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(54, 198, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

/* Show checkmark when the associated radio button is checked */
input[type="radio"]:checked + label::after {
  visibility: visible;
}

label::after {
  content: '\2713'; /* Unicode checkmark symbol */
  color: green;
  font-size: 20px;
}

.date-question {
  flex: 1;
  cursor: pointer;
}

.hide {
  display: none;
}

.change {
  background: var(--transparent-bg-dark);
  animation: fadeIn 2s;
  font-family: var(--headline-text);
  color: whitesmoke;
  width: 100%;
  max-width: 775px;
  border: solid 1px silver;
  border-radius: 4px;
  box-shadow: 1px 1px 15px #eeeeee;
}

.ageQuestion {
  margin-top: 0.8rem;
}

.ageQuestion h2 {
  margin-top: 2rem;
  text-shadow: 1px 1px #0fbef7e0;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.error {
  color: red;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2.0rem;
}


footer {
  position: fixed;
  background: #000000e5;
  color: #EEEEEE;
  bottom: 0;
  width: 100%;
}