@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&family=Quicksand:wght@300..700&display=swap');
/*-- Root Font Size--*/

/* Set to make rem values more clear (1.6rem = 16px) */
html {
font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  -webkit-hyphens : auto;
  hyphens: auto;
  text-wrap: pretty;
}

#root, #__next {
  height: 100%;
  isolation: isolate;
}

:root {
  /* Colors */
  --primary-color: #201E43;
  --secondary-color: #134B70;
  --tertiary-color: #508C9B;
  --light-color: #EEEEEE;
  --dark-color: #050505;
  --transparent-bg-dark: #000000d5;
  --transparent-bg-light: #eeeeeed5;
  
  /* Fonts */
  --headline-text: 'Proza Libre';
  --subheader-text: 'Quicksand';
  --paragraph-text: 'Prompt';
}

body {
    background: url(../images/hourglass-freepik.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--paragraph-text);
    color: var(--light-color);
    margin-bottom: 2.4rem;
    min-height: 100dvh;
}

main {
  flex: 1 0 auto;
}

h1 {
    flex-wrap: wrap;
    font-family: var(--headline-text);
    font-size: 2rem;
    text-align: center;
    background: var(--transparent-bg-dark);
    padding: 0.4rem;
}

#instructionButton,
.calculate,
.recalculate {
    background: linear-gradient(90deg, #134B70 0%, #1b68af 50%, #134B70 100%);
    margin: 0.5rem auto;
    padding: 2px;
    font-size: 1em;
    color: white;
    border: solid 1px whitesmoke;
    border-radius: 8px;
}

#instructionButton:hover,
.calculate:hover,
.recalculate:hover {
    background: #000000;
    color: rgba(230, 228, 228, 0.932);
    font-size: 1em;
    box-shadow: 0 0 30px 3px #ffffff;
    transition: ease-in-out 0.3s;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1; 
  background-color: rgba(0, 0, 0, 0.4); 
  width: 100%; 
  height: 100%; 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000000;
  font-size: 1.6rem;
  color: var(--light-text);
  margin: 10% auto; 
  padding: 1.6rem;
  border: 1px solid #888;
  width: 80%; 
  max-height: 80%;
  overflow: auto;
}

/* The Modal Close Button */
.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  color: #b6b6b6;
  font-size: 3.2rem;
  font-weight:lighter;
  text-align: center;
  line-height: 1.2rem;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ffffff; /* Changes color on hover/focus */
  border-color: #ffffff; /* Matches border color with text color */
  text-decoration: none;
}

.modal h2 {
  font-size: 2rem;
  border: transparent;
  text-decoration: underline;
  margin-bottom: 1.6rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
    border-top: solid 2px #baefffb5;
    border-bottom: 2px solid #baefffb5;
}

.interaction {
    align-items: center;
    text-align: center;
    background: #050f14d1;
    margin: auto;
}

fieldset {
  border: none;
}

legend {
    width: 100%;
    margin: 0.5rem auto;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
    background: #000000d1;
    padding: 0.5rem;
}

/* Base style for radio buttons and their labels */
input[type="radio"] {
  display: none; /* Hide the default radio button appearance */
}

/* Style for the selected radio button container */
input[type="radio"]:checked + label {
    border: 1.5px solid #034b3ded;
    box-shadow: 0px 0px 10px 2px hsl(190.46deg 63.95% 26.73%);
}

/* Style for the checkmark circle */
label::after {
  content: '';
  position: absolute;
  left: 30px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden; /* Hidden by default */
}

/* Show checkmark when the associated radio button is checked */
input[type="radio"]:checked + label::after {
  visibility: visible;
}

label::after {
  content: '\2713'; /* Unicode checkmark symbol */
  color: green;
  font-size: 20px;
}

.date-question {
    flex: 1; /* Ensures the container takes up available space */
  }

  label {
    display: block;
    background: #000000e5;
    color: whitesmoke;
    border: solid 1.5px silver;
    border-radius: 24px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    margin: 16px auto;
    text-align: center;
}

.label-heading {
  display: block; /* Ensure block layout for the heading */;
  font-family: var(--subheader-font);
  margin-bottom: 1.0rem; /* Adjust margin for spacing */
  font-size: 2.4rem; /* Adjust font size as needed */
  font-weight: bold;
  border: 1px solid silver;
  border-radius: 5px;
}

.label-description {
  display: block; /* Ensure block layout for the description */
  font-family: var(--paragraph-font);
  margin: 0; /* Remove default margin */
  font-size: 1.6rem; /* Adjust font size as needed */
}

.hide {
  display: none;
}

.change {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.error {
  color: red;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2.0rem;
}


footer {
  position: fixed;
  background: #000000e5;
  color: #EEEEEE;
  bottom: 0;
  width: 100%;
}