@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:wght@300;400;500;700&family=Proza+Libre:wght@400;700&family=Quicksand:wght@300..700&display=swap');

/*-- Root Font Size--*/

/* Set to make rem values more clear (1.6rem = 16px) */
html {
font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100svh;
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  -webkit-hyphens : auto;
  hyphens: auto;
  text-wrap: pretty;
}

#root, #__next {
  height: 100%;
  isolation: isolate;
}

main {
  flex: 1 0 auto;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1; 
  background-color: rgba(0, 0, 0, 0.4); 
  width: 100%; 
  height: 100%; 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000000;
  color: rgb(223, 223, 223);
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-height: 80%;
  overflow: auto;
}

/* The Modal Close Button */
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  color: #b6b6b6;
  font-size: 24px;
  text-align: center;
  line-height: 16px;
  border: 1px solid #b6b6b6;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  text-decoration: none;
  color: #ffffff;
  border-color: #ffffff;
}

.modal h3 {
  font-size: 0.5rem;
}